<ion-view title='Bar Code Scanner'>

    <ion-pane>

        <ion-content class="padding">
            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            The Barcode Scanner Plugin opens a camera view and automatically scans a barcode, returning the data back
                            to you.
                        </p>
                    </div>
                </div>
            </div>
            <p>{{barcode.data.text}}</p>
            <button class="button button-block button-positive" ng-click="barcode.barcode()">
                Scan BarCode
            </button>
        </ion-content>

    </ion-pane>
</ion-view>