<ion-view title='Basic Components'>

    <ion-pane>

        <ion-content>
            <div class="list padding">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper" id="search-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search" ng-model="search">
                    </label>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-center">
                    <a ui-sref="app.buttons" class="button button-block button-outline button-dark">
                        Buttons
                    </a>
                    <a ui-sref="app.form-elements" class="button button-block button-outline button-dark">
                        Form Elements
                    </a>
                    <a ui-sref="app.list-view" class="button button-block button-outline button-dark">
                        List View
                    </a>
                    <a ui-sref="app.tabs" class="button button-block button-outline button-dark">
                        Tabs
                    </a>
                    <a ui-sref="app.popup-alerts" class="button button-block button-outline button-dark">
                        Popup Alerts
                    </a>
                    <a ui-sref="app.headers" class="button button-block button-outline button-dark">
                        Headers
                    </a>
                    <a ui-sref="app.cards" class="button button-block button-outline button-dark">
                        Cards
                    </a>
                    <a ui-sref="app.spinners" class="button button-block button-outline button-dark">
                        Spinners
                    </a>
                    <a ui-sref="app.footers" class="button button-block button-outline button-dark">
                        Footers
                    </a>
                </div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>