<ion-view title='Browser'>

    <ion-pane>

        <ion-content class="padding">
            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            Provides a web browser view. It could be used to open images, access web pages, and open PDF
                            files.
                        </p>
                    </div>
                </div>
            </div>
            <button class="button button-block button-positive browser-button"
                    ng-click="browser.goToPage()">
                Go To Page
            </button>
        </ion-content>

    </ion-pane>
</ion-view>