<ion-view title="Buttons">
    <ion-pane>
        <ion-content class="padding">
            <section class="portlet">
                <p>Colors</p>

                <div class="list">
                    <div class="item">
                        <button class="button">
                            default
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-light">
                            button-light
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-stable">
                            button-stable
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-positive">
                            button-positive
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-calm">
                            button-calm
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-balanced">
                            button-balanced
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-energized">
                            button-energized
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-assertive">
                            button-assertive
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-royal">
                            button-royal
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-dark">
                            button-dark
                        </button>
                    </div>
                </div>
            </section>

            <section class="portlet">
                <p>Sizes</p>

                <div class="list">
                    <div class="item">
                        <button class="button button-small button-assertive">
                            Small Button
                        </button>
                    </div>
                    <div class="item">
                        <button class="button button-large button-positive">
                            Large Button
                        </button>
                    </div>
                </div>
            </section>

            <section class="padding">
                <p></p>
                <button class="button button-block button-positive">
                    Block Button
                </button>
            </section>

            <section class="padding">
                <p></p>
                <button class="button button-outline button-positive">
                    Outlined Button
                </button>
            </section>

            <section class="portlet">
                <p>Icon Buttons</p>
                <button class="button icon-left ion-star button-positive"></button>
                <button class="button icon ion-gear-a button-positive"></button>
                <button class="button icon-left ion-home button-positive"></button>
                <button class="button icon ion-settings button-positive"></button>
                <button class="button icon ion-star button-positive"></button>
                <button class="button icon ion-android-apps button-positive"></button>
            </section>

            <section class="portlet">
                <p>Button Bar</p>

                <div class="button-bar">
                    <a class="button button-positive">First</a>
                    <a class="button button-positive">Second</a>
                    <a class="button button-positive">Third</a>
                </div>
            </section>

            <button class="button button-full button-positive">
                Full Width Block Button
            </button>

        </ion-content>
    </ion-pane>
</ion-view>
