<ion-view title="Buttons">
    <ion-pane>
        <ion-content class="padding">
            <div class="item item-divider">
                Button Colours
            </div>
            <ul class="list">
                <li class="item">
                    <button class="button">
                        default
                    </button>
                </li>
                <li class="item">
                    <button class="button button-light">
                        button-light
                    </button>
                </li>
                <li class="item">
                    <button class="button button-stable">
                        button-stable
                    </button>
                </li>
                <li class="item">
                    <button class="button button-positive">
                        button-positive
                    </button>
                </li>
                <li class="item">
                    <button class="button button-calm">
                        button-calm
                    </button>
                </li>
                <li class="item">
                    <button class="button button-balanced">
                        button-balanced
                    </button>
                </li>
                <li class="item">
                    <button class="button button-energized">
                        button-energized
                    </button>
                </li>
                <li class="item">
                    <button class="button button-assertive">
                        button-assertive
                    </button>
                </li>
                <li class="item">
                    <button class="button button-royal">
                        button-royal
                    </button>
                </li>
                <li class="item">
                    <button class="button button-dark">
                        button-dark
                    </button>
                </li>
            </ul>
            <div class="item item-divider">
                Button Sizes
            </div>
            <ul class="list">
                <li class="item">
                    <button class="button button-small button-assertive">
                        Small Button
                    </button>
                </li>
                <li class="item">
                    <button class="button button-large button-positive">
                        Large Button
                    </button>
                </li>
            </ul>
            <button class="button button-block button-positive">
                Block Button
            </button>
            <button class="button button-full button-positive">
                Full Width Block Button
            </button>
            <button class="button button-outline button-positive">
                Outlined Button
            </button>
            <button class="button icon-left ion-star button-positive">
                Icon Buttons
            </button>


            <div class="padding">
                <div class="button-bar">
                    <a class="button button-positive">First</a>
                    <a class="button button-positive">Second</a>
                    <a class="button button-positive">Third</a>
                </div>
            </div>

        </ion-content>
    </ion-pane>
</ion-view>
