<ion-view title='Camera'>

    <ion-pane>

        <ion-content class="padding">
            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            This plugin accesses the device's camera.
                        </p>
                    </div>
                </div>
            </div>
            <img ng-src="{{camera.imageSrc}}" class="imageClass">

            <button class="button button-block button-positive"
                    ng-click="camera.getPhoto()">
                Take Photo
            </button>
        </ion-content>

    </ion-pane>
</ion-view>