<ion-view title="Cards">
    <ion-pane>
        <ion-content class="padding">
            <div class="card">
                <div class="item item-text-wrap">
                    Simplest of Cards
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Header
                </div>
                <div class="item item-text-wrap">
                    Card Body
                </div>
                <div class="item item-divider">
                    Footer
                </div>
            </div>
            <div class="list card">

                <a class="item item-icon-left">
                    <i class="icon ion-home"></i>
                    Home
                </a>

                <a class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    Call me
                </a>

                <a class="item item-icon-left">
                    <i class="icon ion-wifi"></i>
                    WiFi
                </a>

            </div>
            <div class="list card">

                <div class="item item-avatar">
                    <img src="http://www.hdwallpapers.in/walls/avengers_age_of_ultron_2015_movie-wide.jpg">

                    <h2>The Avengers</h2>

                    <p>Battle of New York</p>
                </div>

                <div class="item item-body">
                    <img class="full-image"
                         src="http://www.hdwallpapers.in/walls/avengers_age_of_ultron_2015_movie-wide.jpg">

                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>

                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </ion-content>
    </ion-pane>
</ion-view>
