<ion-view title='File Transfer'>

    <ion-pane>

        <ion-content class="padding">

            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            This plugin allows you to upload and download files.
                        </p>
                    </div>
                </div>
            </div>
            <img ng-src="{{file.result.nativeURL}}" class="imageClass">
            <button class="button button-block button-positive" ng-click="file.download()">
                Download File
            </button>
        </ion-content>

    </ion-pane>
</ion-view>