<ion-view title='Ionic Kitchen Sink' hide-back-button="true">
    <ion-pane>
        <ion-content class="padding">
            <div class="row row-center">
                <div class="col col-center" style="padding-top: 30%;">
                    <a ui-sref="app.native" class="button button-block button-positive">
                        Native Components
                    </a>
                    <a ui-sref="app.cordova" class="button button-block button-positive">
                        Cordova Plugins
                    </a>
                    <a ng-click="home.goToIntroduction()" class="button button-block button-positive">
                        Introduction
                    </a>
                    <a ng-click="home.feedback()" class="button button-block button-positive">
                        Feedback
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>