<ion-view title="List View">
    <ion-pane>
        <ion-content class="padding">
            <div class="list">

                <div class="item item-divider">
                    List Divider
                </div>

                <div class="item">
                    Item One
                </div>
                <div class="item" href="#">
                    Item Two
                </div>

                <div class="item item-divider">
                    List Icons
                </div>

                <div class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Email Icon
                </div>
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-mic-a"></i>
                    Microphone Icon
                </div>

                <div class="item item-divider">
                    List Buttons
                </div>

                <div class="item item-button-right">
                    Call Home
                    <button class="button button-positive">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </div>
                <div class="item item-divider">
                    Avatars
                </div>
                <div class="item item-avatar" href="#">
                    <img src="https://cdn2.iconfinder.com/data/icons/faceavatars/PNG/FA03.png">

                    <h2>Some Dude</h2>

                    <p>Hey am some dude.</p>
                </div>
                <div class="item item-divider">
                    Thumbnails
                </div>
                <div class="item item-thumbnail-left" href="#">
                    <img src="http://blogs-images.forbes.com/markhughes/files/2016/04/Captain-America-Civil-War-banner-101.jpg">
                    <h2>Captain America Civil War</h2>
                    <p>It goes down, whose team are you in</p>
                </div>
            </div>
            <div class="list list-inset">
                <div class="item item-divider">
                    Inset Lists
                </div>
                <div class="item">
                    Die in Your Arms
                </div>
                <div class="item">
                    Rap God
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
