<ion-view title="List View">
    <ion-pane>
        <ion-content class="padding">

            <section class="portlet">
                <p>List</p>

                <div class="list">
                    <div class="item">
                        Marvel Comics
                    </div>
                    <div class="item" href="#">
                        DC
                    </div>
                </div>
            </section>

            <section class="portlet">
                <p>Inset Lists</p>
                This are lists with margin. They are like cards without shadow.

                <div class="list list-inset">
                    <div class="item">
                        Die in Your Arms
                    </div>
                    <div class="item">
                        Rap God
                    </div>
                </div>
            </section>

            <section class="portlet">
                <p>Thumbnails</p>

                <div class="item item-thumbnail-left" href="#">
                    <img src="http://blogs-images.forbes.com/markhughes/files/2016/04/Captain-America-Civil-War-banner-101.jpg">

                    <h2>Captain America Civil War</h2>

                    <p>It goes down, whose team are you in</p>
                </div>
            </section>

            <section class="portlet">
                <p>List Buttons</p>

                <div class="item item-button-right">
                    Call The Avengers
                    <button class="button button-positive">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </div>
            </section>

            <section class="portlet">
                <p>Avatars</p>

                <div class="item item-avatar" href="#">
                    <img src="http://static.comicvine.com/uploads/original/11118/111184078/4242828-9911304714-Yoda..jpg">

                    <h2>Jedi Master Yoda</h2>

                    <p>An avatar, I am.</p>
                </div>
            </section>

            <section class="portlet">
                <p>List Icons</p>

                <div class="list">
                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-email"></i>
                        Email Icon
                    </div>
                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-mic-a"></i>
                        Microphone Icon
                    </div>
                </div>
            </section>

            <section class="portlet">
                <p>List Divider</p>

                <div class="list">
                    <div class="item item-divider">
                        List Divider
                    </div>
                </div>
            </section>

        </ion-content>
    </ion-pane>
</ion-view>
