<ion-view title='Media'>

    <ion-pane>

        <ion-content class="padding">
            <div class="row row-center">
                <div class="col col-center" style="padding-top: 30%;">
                    <button class="button button-block button-positive"
                            ng-click="media.play()">
                        Play Song
                    </button>
                    <button class="button button-block button-positive"
                            ng-click="media.pause()">
                        Pause Song
                    </button>
                    <button class="button button-block button-positive"
                            ng-click="media.stop()">
                        Stop Song
                    </button>
                </div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>