<ion-view title="Spinners">
    <ion-pane>
        <ion-content class="padding" style="padding-top:30%; ">
            <div class="text-center">
                <ion-spinner></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="spiral"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="ripple"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="lines"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="dots"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="crescent"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="circles"></ion-spinner>
            </div>
            <div class="text-center">
                <ion-spinner icon="ios"></ion-spinner>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>


