<ion-view title="Tabs">
    <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-view class="switch">
                <ion-content class="padding">
                    <p class="padding">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non lacus congue, dapibus
                        odio quis, faucibus velit. Quisque laoreet, mauris vel vehicula mollis, metus nisi eleifend
                        orci, eget ultrices ex sem a dui. Nam sed ipsum nec neque maximus sagittis at et erat.
                        Suspendisse consequat vulputate nulla, at sodales velit ullamcorper vitae. Cras est odio,
                        commodo quis massa non, tristique rutrum arcu.
                    </p>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-view class="switch">
                <ion-content class="padding">
                    <p class="padding">
                        Mauris metus nisi, volutpat nec volutpat at,
                        gravida ac nisi. In justo ipsum, sodales vel aliquet vitae, tristique a urna. Quisque finibus
                        ligula sed neque dapibus maximus. Vivamus convallis, diam non venenatis sodales, odio ex
                        consequat tortor, vel posuere dui mi ut sem. Aenean vestibulum dignissim tortor, eu vestibulum
                        arcu consectetur bibendum. Curabitur eros erat, fringilla sed nisl a, suscipit suscipit risus.
                        Vestibulum efficitur elit condimentum diam varius, ut rhoncus lectus scelerisque. Nulla
                        facilisi.
                    </p>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <ion-view class="switch">
                <ion-content class="padding">
                    <p class="padding">
                        Nam sed ipsum nec neque maximus sagittis at et erat.
                        Suspendisse consequat vulputate nulla, at sodales velit ullamcorper vitae. Cras est odio,
                        commodo quis massa non, tristique rutrum arcu. Mauris metus nisi, volutpat nec volutpat at,
                        gravida ac nisi. In justo ipsum, sodales vel aliquet vitae, tristique a urna. Quisque finibus
                        ligula sed neque dapibus maximus. Vivamus convallis, diam non venenatis sodales, odio ex
                        consequat tortor, vel posuere dui mi ut sem. Aenean vestibulum dignissim tortor, eu vestibulum
                        arcu consectetur bibendum.
                    </p>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
