<ion-view title='Media'>

    <ion-pane>

        <ion-content class="padding">

            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            This plugin provides the ability to record and play back audio files on a device.
                        </p>
                    </div>
                </div>
            </div>

            <div class="list list-inset">
                <div class="item">
                    <div class="button-bar">
                        <button class="button button-icon ion-play"
                                ng-click="media.play()"
                                ng-if="media.showIcon">
                        </button>
                        <button class="button button-icon ion-pause"
                                ng-click="media.pause()"
                                ng-if="!media.showIcon">
                        </button>
                        <button class="button button-icon ion-stop" ng-click="media.stop()">
                        </button>
                    </div>
                </div>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>