<ion-view title='Social Sharing'>

    <ion-pane>

        <ion-content class="padding">
            <div class="row row-center">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p class="padding">
                            Share images, text, messages via Facebook, Twitter, Email, SMS, WhatsApp, etc using this
                            plugin.
                        </p>
                    </div>
                </div>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Write message here..." ng-model="social.message">
                </label>
            </div>

            <button class="button button-block button-positive" ng-click="social.shareTwitter()">
                Share via Twitter
            </button>
            <button class="button button-block button-positive" ng-click="social.shareWhatsapp()">
                Share via Whatsapp
            </button>
            <button class="button button-block button-positive" ng-click="social.shareFacebook()">
                Share via Facebook
            </button>
        </ion-content>

    </ion-pane>
</ion-view>