.portlet {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.portlet h4{
    text-align: center;
}

.portlet .list {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.browser-button {
    position: fixed;
    bottom: 0;
}

.switch{
    margin-top: 50px;
}

.imageClass{
    width: 100%;
    height: auto!important;
}
.middle-header{
    text-align: center;
}