.portlet {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.portlet p {
    text-align: center;
}

.portlet .list {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.browser-button {
    position: fixed;
    bottom: 0;
}